<p>
<center>
<table border=0 cellpadding=10 cellspacing=10>

<tr>
</tr>
</table>
</center>
</p>
<p>
Das Plugin bietet noch keinerlei Konfigurationsmöglichkeiten. Die komplette Konfiguration wird innerhalb von habridge vorgenommen und kann unter untenstehendem Link aufgerufen werden.
</p>
<p>
<br>
</p>
<p>
<a id="button" data-role="button" data-inline="false" data-mini="false" href="http://<!--$loxberryhost-->:8080/" target="_blank">habridge aufrufen</a>
</p>
<p>
<br>
</p>
<p>
loxberry-habridge wurde in folgendem Verzeichnis
installiert: <font face="courier"><b><!--$installfolder-->/data/plugins/<!--$psubfolder--></b></font>
</p>
